.card-container {
  display: inline-block;
  width: 728px;
  .card {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 20px;
  }
}

.top-menu {
  width: 40%;
  text-align: right;
  margin: 0 auto;
  .brand-img {
    display: inline-block;
    left: 0;
  }
  .item {
    display: inline-block;
    margin-left: 50px;
  }
}

.modules-container {
  display: inline-block;
  width: 728px;

}

.brand-radical {
  .app {
    .navbar _{
      background-color: blue;
    }
  }
}

.brand-bausch {
  .navbar _{
    background-color: turquoise;
  }
  .modules-container {
    .module {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      margin-right: 20px;
      background-color: #0099b1;
      .module-title {
        top: 64px;
        position: relative;
      }
    }
  }
}

.brand-sanofi {

}

.brand-novartis {

}