.col-md-8 {
    padding-left: 0;
    padding-right: 0;
}

.card-container {
  display: inline-block;
  width: 728px;
  .card {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 20px;
  }
}

.top-menu {
  width: 760px;
  margin: 0 auto;
    padding: 0 20px;
  position: relative;
  text-align: right;
  height: 80px;
  .brand-img {
    position: absolute;
    display: inline-block;
    left: 0;
    max-width: 220px;
  }
  .items {
    position: absolute;
    display: inline-block;
    right: 0;
    .item {
      display: inline-block;
      margin-left: 50px;
      font-size:90%;
    }
  }
}

.modules-container {
  display: inline-block;
  width: 728px;

}

.brand-radical {
  .app {
    .navbar _{
      background-color: blue;
    }
  }
}

.brand-bausch {
  .navbar _{
    background-color: turquoise;
  }
  .modules-container {
    .module {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      margin-right: 20px;
      background-color: #0099b1;
      .module-title {
        top: 64px;
        position: relative;
      }
    }
  }
}

.brand-sanofi {
  .modules-container {
    .module {
      height: 150px;
      width: 150px;
      display: inline-block;
      text-align: center;
      margin-right: 20px;
      background-color: #bdbd00;
      .module-title {
        top: 64px;
        position: relative;
      }
    }
  }
}

.brand-novartis {

}
